@charset "UTF-8";
@font-face {
  font-family: "gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff2") format("woff2");
}
@font-face {
  font-family: "gilroy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroy-medium.woff2") format("woff2");
}
@font-face {
  font-family: "gilroy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff2") format("woff2");
}
@font-face {
  font-family: "gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff2") format("woff2");
}
:root {
  --mobile: 950px;
  --container: 1168px;
  --container-padding: 20px;
  --header-height-desktop: 100px;
  --header-height-mobile: 72px;
  --banner-img-height-mobile: 350px;
  --font-primary: "gilroy";
  --color-primary: 157 9 124;
  --color-primary-hover: 205 27 165;
  --color-light: 255 255 255;
  --color-dark-primary: 50 51 76;
  --color-dark-secondary: 28 28 30;
  --color-gray: 119 120 147;
  --color-blue: 198 217 221;
  --gradient: linear-gradient(260deg, #2d1178 25%, #db2d8f 78%);
  --transition-tf: ease;
  --transition-d: 200ms;
  --galery-gap-desktop: -13px;
  --galery-gap-mobile: -8px;
  --galery-gap-change: 5px;
  --galery-transition-d: 500ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  position: relative;
  min-width: 360px;
  margin: var(--header-height-desktop) 0 0;
}
.body--no-scroll {
  overflow: hidden;
}

main {
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-default {
  display: inline-block;
  padding: 12px 16px;
  font-family: var(--font-primary);
  font-weight: 600;
  color: rgb(var(--color-light));
  text-align: center;
  text-decoration: none;
  background: rgb(var(--color-primary));
  border-radius: 16px;
  transition: var(--transition-tf) var(--transition-d);
}

@media (hover: hover) {
  .button-default:hover {
    background: rgb(var(--color-primary-hover));
  }
}
@media (hover: none) {
  .button-default:active {
    background: rgb(var(--color-primary-hover));
  }
}
.button-wide {
  display: block;
  max-width: 240px;
  padding: 30px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  color: rgb(var(--color-primary));
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 1px solid rgb(var(--color-primary));
  border-radius: 32px;
  transition: var(--transition-tf) var(--transition-d);
}

@media (hover: hover) {
  .button-wide:hover {
    color: rgb(var(--color-light));
    background: rgb(var(--color-primary-hover));
    border: 1px solid rgb(var(--color-primary-hover));
  }
}
@media (hover: none) {
  .button-wide:active {
    background: rgb(var(--color-primary-hover));
    border: 1px solid rgb(var(--color-primary-hover));
  }
}
.h2-title {
  margin: 0 0 40px;
  font-family: var(--font-primary);
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 950px) {
  .body {
    margin: var(--header-height-mobile) 0 0;
  }
  .h2-title {
    margin: 0 0 12px;
    padding: 0 0 0 10px;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }
}
.container {
  max-width: var(--container);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.news {
  font-family: var(--font-primary);
  color: rgb(var(--color-dark-primary));
}

.news__banner {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  background: rgb(var(--color-blue));
}

.news__container {
  height: 100%;
}

.news__banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  height: 100%;
}

.news__banner-title {
  margin: 0 0 12px;
  font-size: 64px;
  line-height: 80px;
  font-weight: 600;
}

.news__banner-description {
  margin: 0 0 24px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.news__banner-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45vw;
  border-radius: 40px;
  overflow: hidden;
}
.news__banner-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news__swiper {
  position: relative;
  width: 100%;
  height: 742px;
}

.news__controls {
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 80px;
  width: 1168px;
  padding: 0 var(--container-padding);
  translate: -50% 0;
}

.news__swiper-pagination {
  position: static;
  width: auto !important;
}
.news__swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 25px;
  height: 25px;
  background: transparent;
  margin: 0 !important;
  opacity: 1;
}
.news__swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  translate: -50% -50%;
  border-radius: 50%;
  background: rgb(var(--color-dark-primary));
  transition: var(--transition-tf) var(--transition-d);
}
.news__swiper-pagination .swiper-pagination-bullet-active {
  background: transparent;
  border: 1px solid rgb(var(--color-primary));
}
.news__swiper-pagination .swiper-pagination-bullet-active::after {
  width: 8px;
  height: 8px;
  background: rgb(var(--color-primary));
}

@media (hover: hover) {
  .news__swiper-pagination .swiper-pagination-bullet:hover::after {
    background: rgb(var(--color-primary-hover));
  }
  .news__swiper-pagination .swiper-pagination-bullet-active:hover::after {
    background: rgb(var(--color-primary));
  }
}
.new__controls-buttons {
  display: flex;
  gap: 8px;
}

.news__swiper-button-prev,
.news__swiper-button-next {
  position: static;
  width: 40px;
  height: 40px;
  margin: 0;
  background: rgb(var(--color-light));
  border-radius: 50%;
  transition: var(--transition-tf) var(--transition-d);
}
.news__swiper-button-prev svg,
.news__swiper-button-next svg {
  width: auto;
  height: auto;
  scale: 1.1;
}
.news__swiper-button-prev svg path,
.news__swiper-button-next svg path {
  transition: var(--transition-tf) var(--transition-d);
}
.news__swiper-button-prev::after,
.news__swiper-button-next::after {
  content: "";
}

@media (hover: hover) {
  .news__swiper-button-prev:hover,
  .news__swiper-button-next:hover {
    background: rgb(var(--color-primary-hover));
  }
  .news__swiper-button-prev:hover path,
  .news__swiper-button-next:hover path {
    stroke: rgb(var(--color-light));
  }
  .news__swiper-button-prev:active,
  .news__swiper-button-next:active {
    background: rgb(var(--color-light));
  }
  .news__swiper-button-prev:active path,
  .news__swiper-button-next:active path {
    stroke: rgb(var(--color-primary-hover));
  }
}
@media (hover: none) {
  .news__swiper-button-prev:active,
  .news__swiper-button-next:active {
    background: rgb(var(--color-primary));
  }
  .news__swiper-button-prev:active path,
  .news__swiper-button-next:active path {
    stroke: rgb(var(--color-light));
  }
}
.news__swiper-button-next svg {
  rotate: 180deg;
}

@media (max-width: 1168px) {
  .news__controls {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .news__swiper {
    height: auto;
  }
  .news__container {
    height: auto;
  }
  .news__banner-image {
    width: 100%;
    height: var(--banner-img-height-mobile);
  }
  .news__banner-text {
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: calc(var(--banner-img-height-mobile) + 60px) 0 35px;
  }
  .news__banner-title {
    font-size: 40px;
    line-height: 52px;
  }
  .news__controls {
    bottom: auto;
    top: calc(var(--banner-img-height-mobile) + 15px);
    width: auto;
    height: 40px;
    padding: 0;
  }
  .new__controls-buttons {
    display: none;
  }
}
@media (max-width: 768px) {
  .news__button-wide {
    max-width: 100%;
  }
}
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height-desktop);
  font-family: var(--font-primary);
  background: rgb(var(--color-light));
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 10px;
  background: rgb(var(--color-light));
  box-shadow: 0 3px 3px -4px rgb(var(--color-dark-secondary)/50%);
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__wrapper,
.header__menu {
  display: flex;
  align-items: center;
}

.header__menu {
  background: rgb(var(--color-light));
}

.header__logo-left {
  display: inline-block;
  width: 126px;
  cursor: pointer;
}
.header__logo-left img {
  display: block;
  width: 100%;
}

.header__logo-right {
  display: inline-block;
  width: 50px;
  margin: 0 0 0 20px;
}
.header__logo-right img {
  display: block;
  width: 100%;
}

.header__language-select {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  width: 67px;
  height: 32px;
  padding: 8px 12px;
  background: #f7eee8;
  border-radius: 12px;
  overflow: hidden;
  translate: 0 -16px;
}
.header__language-select--open {
  height: auto;
}

.header__language-select-lenguage,
.header__language-select-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__language-select-lenguage {
  order: 1;
  padding: 0 15px 0 0;
  font-family: var(--font-primary);
  font-weight: 400;
  color: rgb(var(--color-dark-primary));
}
.header__language-select-lenguage:hover:not(.header__language-select-lenguage--current) {
  color: rgb(var(--color-primary));
}
.header__language-select-lenguage--current {
  order: 0;
  cursor: auto;
}

.header__language-select-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 67px;
  height: 32px;
  padding: 0;
  border-radius: 12px;
}
.header__language-select-button img {
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  translate: 0 -50%;
  rotate: 180deg;
  scale: 1.2;
  transition: var(--transition-tf) var(--transition-d);
}
.header__language-select-button--open img {
  rotate: 0deg;
}

.header__navigation {
  margin: 0 10px 0 0;
}

.header__navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__navigation-item {
  position: relative;
}

@media (hover: hover) {
  .header__navigation-item:hover .header__links-area {
    display: block;
    opacity: 1;
  }
  .header__navigation-item:hover .header__navigation-item-button {
    color: rgb(var(--color-primary));
  }
}
@media (hover: none) and (min-width: 950px) {
  .header__navigation-item:hover .header__links-area {
    display: block;
    opacity: 1;
  }
  .header__navigation-item:hover .header__navigation-item-button {
    color: rgb(var(--color-primary));
  }
}
.header__navigation-item-button {
  position: relative;
  padding: 20px 10px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  color: rgb(var(--color-dark-primary));
  background: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition-tf) var(--transition-d);
}
.header__navigation-item-button::after {
  content: "";
  right: 0;
  top: 50%;
  position: absolute;
  display: none;
  width: 20px;
  height: 20px;
  background: center/contain no-repeat url("../img/chevron-top.svg");
  translate: 0 -50%;
  rotate: 180deg;
  scale: 1.2;
  transition: var(--transition-tf) var(--transition-d);
}
.header__navigation-item-button--active::after {
  rotate: 0deg;
}

.header__links-area {
  position: absolute;
  z-index: 100;
  left: -10px;
  top: 55px;
  display: none;
  width: 328px;
  padding: 24px 32px;
  background: rgb(var(--color-light));
  border-radius: 24px;
  box-shadow: 0 4px 24px 0 rgb(var(--color-dark-secondary)/10%);
  opacity: 0;
  transition-behavior: allow-discrete;
  transition-duration: var(--transition-d);
}

.header__links-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__links-item:not(:last-child) {
  margin: 0 0 16px;
}

.header__links-item-link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
  color: rgb(var(--color-dark-secondary));
  text-decoration: none;
  transition: var(--transition-tf) var(--transition-d);
}

@media (hover: hover) {
  .header__links-item-link:hover {
    color: rgb(var(--color-primary));
  }
  .header__links-item-link:hover path {
    stroke: rgb(var(--color-primary));
  }
}
.header__burger {
  position: relative;
  display: none;
  width: 24px;
  height: 24px;
  padding: 0;
  background: transparent;
  border: none;
}

.header__burger-t-el,
.header__burger-b-el,
.header__burger-c-el {
  position: absolute;
  height: 2px;
  background: rgb(var(--color-dark-secondary));
  border-radius: 5px;
  animation-duration: 200ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.header__burger-t-el,
.header__burger-b-el,
.header__burger-c-el {
  left: 50%;
  width: 20px;
  translate: -50% 0%;
}

.header__burger-t-el {
  top: 20%;
}

.header__burger-b-el {
  bottom: 20%;
}

.header__burger-c-el {
  top: 50%;
  translate: -50% -50%;
}

.header__burger--cross .header__burger-t-el {
  animation-name: t-to-cross;
}
.header__burger--cross .header__burger-b-el {
  animation-name: b-to-cross;
}
.header__burger--cross .header__burger-c-el {
  animation-name: c-to-cross;
}

.header__burger--lines .header__burger-t-el,
.header__burger--lines .header__burger-b-el,
.header__burger--lines .header__burger-c-el {
  animation-direction: reverse;
}
.header__burger--lines .header__burger-t-el {
  animation-name: t-to-lines;
}
.header__burger--lines .header__burger-b-el {
  animation-name: b-to-lines;
}
.header__burger--lines .header__burger-c-el {
  animation-name: c-to-lines;
}

@media (max-width: 950px) {
  .header {
    height: var(--header-height-mobile);
  }
  .header__logo-left {
    width: 100px;
  }
  .header__language-select {
    left: 140px;
  }
  .header__menu {
    position: absolute;
    top: var(--header-height-mobile);
    left: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    width: 100%;
    padding: 105px 0 0;
    height: calc(100dvh - var(--header-height-mobile));
    transition: var(--transition-tf) var(--transition-d);
    overflow-y: scroll;
  }
  .header__menu--open {
    left: 0;
  }
  .header__menu--flex {
    display: flex;
  }
  .header__navigation {
    margin: 0 15px 20px 0;
  }
  .header__navigation-list {
    flex-direction: column;
    align-items: center;
  }
  .header__navigation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__navigation-item-button {
    padding: 20px 30px;
    font-size: 20px;
  }
  .header__navigation-item-button::after {
    display: block;
  }
  .header__navigation-item-button--active + .header__links-area {
    display: block;
  }
  .header__links-area {
    position: static;
    z-index: auto;
    display: none;
    padding: 0 0 0 10px;
    margin: 0 0 20px;
    box-shadow: none;
    opacity: 1;
    transition-duration: 0ms;
  }
  .header__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__links-item:not(:last-child) {
    margin: 0 0 25px;
  }
  .header__links-item-link {
    font-weight: 500;
    text-align: center;
    color: rgb(var(--color-gray));
  }
  .header__links-item-link svg {
    display: none;
  }
  .header__logo-right {
    margin: 0;
  }
  .header__button-default {
    margin: 0 0 35px;
  }
  .header__burger {
    display: block;
  }
}
@keyframes c-to-cross {
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes t-to-cross {
  0% {
    top: 20%;
    translate: -50% 0%;
  }
  49% {
    top: 50%;
    translate: -50% -50%;
  }
  51% {
    rotate: 0deg;
  }
  100% {
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
}
@keyframes b-to-cross {
  0% {
    bottom: 20%;
    translate: -50% 0%;
  }
  49% {
    bottom: 50%;
    translate: -50% 50%;
  }
  51% {
    rotate: 0deg;
  }
  100% {
    bottom: 50%;
    translate: -50% 50%;
    rotate: -45deg;
  }
}
@keyframes c-to-lines {
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes t-to-lines {
  0% {
    top: 20%;
    translate: -50% 0%;
  }
  49% {
    top: 50%;
    translate: -50% -50%;
  }
  51% {
    rotate: 0deg;
  }
  100% {
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
}
@keyframes b-to-lines {
  0% {
    bottom: 20%;
    translate: -50% 0%;
  }
  49% {
    bottom: 50%;
    translate: -50% 50%;
  }
  51% {
    rotate: 0deg;
  }
  100% {
    bottom: 50%;
    translate: -50% 50%;
    rotate: -45deg;
  }
}
.announce {
  padding: 144px 0 164px;
}

.announce__text {
  max-width: 900px;
  margin: 0 auto 42px;
  font-family: var(--font-primary);
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.announce__button-wide {
  margin: 0 auto;
}

@media (max-width: 950px) {
  .announce {
    padding: 120px 0;
  }
  .announce__text {
    margin: 0 auto 24px;
    font-size: 24px;
    line-height: 32px;
  }
}
.success {
  padding: 87px 0 103px;
  font-family: var(--font-primary);
  color: rgb(var(--color-dark-primary));
  background: rgb(var(--color-blue));
  border-radius: 40px;
}

.success__container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "title imgs" "text imgs";
}

.success__title-area,
.success__text-area,
.success__imgs-area {
  position: relative;
}

.success__title-area {
  grid-area: title;
}

.success__text-area {
  grid-area: text;
}

.success__imgs-area {
  position: relative;
  grid-area: imgs;
}

@media (hover: hover) {
  .success__imgs-area:hover .success__img--main {
    scale: 1.05;
  }
  .success__imgs-area:hover .success__img--1 {
    left: calc(var(--galery-gap-desktop) - var(--galery-gap-change));
  }
  .success__imgs-area:hover .success__img--2, .success__imgs-area:hover .success__img--3 {
    top: calc(var(--galery-gap-desktop) - var(--galery-gap-change));
  }
  .success__imgs-area:hover .success__img--4 {
    right: calc(var(--galery-gap-desktop) - var(--galery-gap-change));
  }
  .success__imgs-area:hover .success__img--5 {
    bottom: calc(var(--galery-gap-desktop) - var(--galery-gap-change));
  }
}
.success__title {
  display: inline-block;
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 500;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.succes__subtitle {
  margin: 0 0 32px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
}

.success__text {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.success__img {
  position: absolute;
  transition: var(--transition-tf) 500ms;
}
.success__img--main {
  top: 50.7%;
  left: 53%;
  width: 272px;
  height: 219px;
  translate: -50% -50%;
}
.success__img--1 {
  bottom: 0;
  left: var(--galery-gap-desktop);
  width: 194px;
  height: 125px;
  translate: -100% 0;
}
.success__img--2 {
  top: var(--galery-gap-desktop);
  right: 0;
  width: 107px;
  height: 106px;
  translate: 0 -100%;
}
.success__img--3 {
  top: var(--galery-gap-desktop);
  right: 40px;
  width: 134px;
  height: 132px;
  translate: 0 -100%;
}
.success__img--4 {
  top: 15px;
  right: var(--galery-gap-desktop);
  width: 155px;
  height: 126px;
  translate: 100% 0;
}
.success__img--5 {
  bottom: var(--galery-gap-desktop);
  left: 40px;
  width: 154px;
  height: 126px;
  translate: 0 100%;
}
.success__img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 950px) {
  .success {
    padding: 40px 0;
  }
  .success__container {
    display: block;
  }
  .success__title-area {
    margin: 0 0 20px;
  }
  .succes__subtitle {
    margin: 0;
    font-size: 32px;
    line-height: 42px;
  }
  .success__imgs-area {
    margin: 0 0 20px;
    height: 370px;
    overflow: visible;
  }
  .success__img {
    position: absolute;
    transition: var(--transition-tf) var(--galery-transition-d);
  }
  .success__img--main {
    width: 190px;
    height: 153px;
  }
  .success__img--1 {
    width: 136px;
    height: 87px;
    left: var(--galery-gap-mobile);
  }
  .success__img--2 {
    width: 75px;
    height: 74px;
    top: var(--galery-gap-mobile);
  }
  .success__img--3 {
    width: 94px;
    height: 92px;
    top: var(--galery-gap-mobile);
  }
  .success__img--4 {
    width: 109px;
    height: 88px;
    right: var(--galery-gap-mobile);
  }
  .success__img--5 {
    width: 108px;
    height: 88px;
    bottom: var(--galery-gap-mobile);
  }
  .success__text:last-of-type {
    margin: 0 0 30px;
  }
  .success__button-default {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .success__button-default {
    width: 100%;
  }
}
.notice {
  font-family: var(--font-primary);
  padding: 70px 0 143px;
}

.notice__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.notice__swiper {
  width: 100%;
  height: 286px;
  overflow: hidden;
}

.notice__swiper-slide {
  padding: 0 10px;
}

.notice__card {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
}
.notice__card img {
  display: blocl;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.notice__card::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 350px;
  height: 350px;
  background: #fa9397;
  border-radius: 50%;
  translate: -50% 0;
  transition: var(--transition-tf) var(--transition-d);
}

@media (hover: hover) {
  .notice__card:hover::before {
    top: 30px;
  }
}
.notice__card-text {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 88%;
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(var(--color-light));
}

@media (max-width: 950px) {
  .notice {
    padding: 50px 0 80px;
  }
  .notice__container {
    align-items: flex-start;
  }
}
.business {
  padding: 130px 0 60px;
  font-family: var(--font-primary);
  color: rgb(var(--color-dark-primary));
}

.business__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.business__swiper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.business__swiper-wrapper {
  margin: 0 0 20px;
}

.business__swiper-slide {
  padding: 0 10px;
  overflow: hidden;
}

.business__controls {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  width: auto;
}

.business__swiper-pagination {
  position: static;
  width: auto !important;
  height: 24px;
}
.business__swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 25px;
  height: 25px;
  background: transparent;
  margin: 0 !important;
  opacity: 1;
}
.business__swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  translate: -50% -50%;
  border-radius: 50%;
  background: rgb(var(--color-dark-primary));
  transition: var(--transition-tf) var(--transition-d);
}
.business__swiper-pagination .swiper-pagination-bullet-active {
  background: transparent;
  border: 1px solid rgb(var(--color-primary));
}
.business__swiper-pagination .swiper-pagination-bullet-active::after {
  width: 8px;
  height: 8px;
  background: rgb(var(--color-primary));
}

@media (hover: hover) {
  .business__swiper-pagination .swiper-pagination-bullet:hover::after {
    background: rgb(var(--color-primary-hover));
  }
  .business__swiper-pagination .swiper-pagination-bullet-active:hover::after {
    background: rgb(var(--color-primary));
  }
}
.business__swiper-button-prev,
.business__swiper-button-next {
  position: static;
  width: 40px;
  height: 40px;
  margin: 0;
  background: #fff0f5;
  border-radius: 50%;
  transition: var(--transition-tf) var(--transition-d);
}
.business__swiper-button-prev svg,
.business__swiper-button-next svg {
  width: auto;
  height: auto;
  scale: 1.1;
}
.business__swiper-button-prev svg path,
.business__swiper-button-next svg path {
  transition: var(--transition-tf) var(--transition-d);
}
.business__swiper-button-prev::after,
.business__swiper-button-next::after {
  content: "";
}

@media (hover: hover) {
  .business__swiper-button-prev:hover,
  .business__swiper-button-next:hover {
    background: rgb(var(--color-primary-hover));
  }
  .business__swiper-button-prev:hover path,
  .business__swiper-button-next:hover path {
    stroke: rgb(var(--color-light));
  }
  .business__swiper-button-prev:active,
  .business__swiper-button-next:active {
    background: #fff0f5;
  }
  .business__swiper-button-prev:active path,
  .business__swiper-button-next:active path {
    stroke: rgb(var(--color-primary-hover));
  }
}
@media (hover: none) {
  .business__swiper-button-prev:active,
  .business__swiper-button-next:active {
    background: rgb(var(--color-primary));
  }
  .business__swiper-button-prev:active path,
  .business__swiper-button-next:active path {
    stroke: rgb(var(--color-light));
  }
}
.business__swiper-button-next svg {
  rotate: 180deg;
}

.business__img {
  position: relative;
  display: block;
  width: 100%;
  height: 398px;
  margin: 0 0 16px;
  border-radius: 24px;
  overflow: hidden;
}
.business__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.business__img::before {
  content: "Подробнее";
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  color: rgb(var(--color-light));
  font-weight: 600;
  background: #fa9397;
  border-radius: 50%;
  translate: -50% -50%;
  overflow: hidden;
  transition: var(--transition-tf) var(--transition-d);
}

@media (hover: hover) {
  .business__img:hover::before {
    width: 450px;
    height: 450px;
  }
}
.bussiness__title {
  min-height: 64px;
  margin: 0 0 12px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.bussiness__location {
  display: inline-block;
  margin: 0 0 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.bussiness__description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

@media (max-width: 950px) {
  .business {
    padding: 80px 0 40px;
  }
  .business__container {
    align-items: flex-start;
  }
  .business__img {
    height: 260px;
  }
  .business__controls {
    display: none;
  }
}
@media (max-width: 460px) {
  .bussiness__title {
    min-height: 96px;
  }
}
.education {
  padding: 80px 0 90px;
  font-family: var(--font-primary);
  color: rgb(var(--color-dark-primary));
}

.education__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.education__swiper {
  width: 100%;
  height: 286px;
}

.education__swiper-slide {
  padding: 0 10px;
}

.education__slide-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 32px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 12px 32px 0 rgb(var(--color-dark-primary)/12%);
}

.education__title {
  margin: 0 0 8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.education__description {
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.education__button-default {
  margin: auto 0 0;
}

@media (max-width: 950px) {
  .education {
    padding: 30px 0 60px;
  }
  .education__container {
    align-items: flex-start;
  }
  .education__slide-inner {
    padding: 24px;
  }
  .education__title {
    font-size: 16px;
    line-height: 22px;
  }
  .education__button-default {
    width: 100%;
  }
}
.footer {
  padding: 40px 0 60px;
  font-family: var(--font-primary);
  background: rgb(var(--color-blue));
}

.footer__container {
  display: flex;
  gap: 107px;
}

.footer__wrapper-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  flex-shrink: 0;
}

.footer__logo-area {
  display: inline-flex;
  align-items: center;
  gap: 28px;
}

.footer__logo {
  display: inline-block;
}
.footer__logo--isker {
  width: 105px;
}
.footer__logo--demeu {
  width: 50px;
}
.footer__logo img {
  display: block;
  width: 100%;
}

.footer__social {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.footer__social-link {
  display: block;
  width: 20px;
  height: 20px;
}
.footer__social-link path {
  transition: var(--transition-tf) var(--transition-d);
}
.footer__social-link:hover path {
  fill: rgb(var(--color-primary-hover));
}

.footer__wrapper-right {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex-grow: 1;
  margin: 0 0 0 auto;
}

.footer__links {
  flex-shrink: 0;
  width: 180px;
}

.footer__links-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__links-title {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(var(--color-dark-primary));
}

.footer__links-list-item:not(:last-child) {
  margin: 0 0 6px;
}

.footer__links-list-link {
  font-size: 14px;
  font-weight: 400;
  color: rgb(var(--color-dark-primary));
  text-decoration: none;
  transition: var(--transition-tf) var(--transition-d);
}

@media (hover: hover) {
  .footer__links-list-link:hover {
    color: rgb(var(--color-primary));
  }
}
@media (hover: none) {
  .footer__links-list-link:active {
    color: rgb(var(--color-primary));
  }
}
@media (max-width: 950px) {
  .footer__container {
    flex-direction: column;
    gap: 33px;
  }
  .footer__wrapper-left {
    flex-direction: row;
    align-items: center;
  }
  .footer__wrapper-right {
    gap: 30px;
    margin: 0;
  }
  .footer__links {
    width: 154px;
  }
}
@media (max-width: 576px) {
  .footer__wrapper-left {
    justify-content: space-between;
  }
}
/*# sourceMappingURL=index.css.map */
