.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height-desktop);
  font-family: var(--font-primary);
  background: rgb(var(--color-light));

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 10px;
    background: rgb(var(--color-light));
    box-shadow: 0 3px 3px -4px rgb(var(--color-dark-secondary) / 50%);
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__wrapper,
.header__menu {
  display: flex;
  align-items: center;
}

.header__menu {
  background: rgb(var(--color-light));
}

.header__logo-left {
  display: inline-block;
  width: 126px;
  cursor: pointer;

  img {
    display: block;
    width: 100%
  }
}

.header__logo-right {
  display: inline-block;
  width: 50px;
  margin: 0 0 0 20px;

  img {
    display: block;
    width: 100%
  }
}

.header__language-select {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  width: 67px;
  height: 32px;
  padding: 8px 12px;
  background: #f7eee8;
  border-radius: 12px;
  overflow: hidden;
  translate: 0 -16px;

  &--open {
    height: auto;
  }
}

.header__language-select-lenguage,
.header__language-select-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__language-select-lenguage {
  order: 1;
  padding: 0 15px 0 0;
  font-family: var(--font-primary);
  font-weight: 400;
  color: rgb(var(--color-dark-primary));

  &:hover:not(.header__language-select-lenguage--current) {
    color: rgb(var(--color-primary));
  }

  &--current {
    order: 0;
    cursor: auto;
  }
}

.header__language-select-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 67px;
  height: 32px;
  padding: 0;
  border-radius: 12px;

  img {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    translate: 0 -50%;
    rotate: 180deg;
    scale: 1.2;
    transition: var(--transition-tf) var(--transition-d);
  }

  &--open {
    img {
      rotate: 0deg;
    }
  }
}

.header__navigation {
  margin: 0 10px 0 0;
}

.header__navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__navigation-item {
  position: relative;
}

@media(hover: hover) {
  .header__navigation-item {

    &:hover {
      .header__links-area {
        display: block;
        opacity: 1;
      }

      .header__navigation-item-button {
        color: rgb(var(--color-primary));
      }
    }
  }
}

@media(hover: none) and (min-width: $mobile) {
  .header__navigation-item {

    &:hover {
      .header__links-area {
        display: block;
        opacity: 1;
      }

      .header__navigation-item-button {
        color: rgb(var(--color-primary));
      }
    }
  }
}

.header__navigation-item-button {
  position: relative;
  padding: 20px 10px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  color: rgb(var(--color-dark-primary));
  background: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition-tf) var(--transition-d);

  &::after {
    content: '';
    right: 0;
    top: 50%;
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    background: center / contain no-repeat url('../img/chevron-top.svg');
    translate: 0 -50%;
    rotate: 180deg;
    scale: 1.2;
    transition: var(--transition-tf) var(--transition-d);
  }

  &--active {
    &::after {
      rotate: 0deg;
    }
  }
}

.header__links-area {
  position: absolute;
  z-index: 100;
  left: -10px;
  top: 55px;
  display: none;
  width: 328px;
  padding: 24px 32px;
  background: rgb(var(--color-light));
  border-radius: 24px;
  box-shadow: 0 4px 24px 0 rgb(var(--color-dark-secondary)/10%);
  opacity: 0;
  transition-behavior: allow-discrete;
  transition-duration: var(--transition-d);
}

.header__links-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__links-item:not(:last-child) {
  margin: 0 0 16px;
}

.header__links-item-link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
  color: rgb(var(--color-dark-secondary));
  text-decoration: none;
  transition: var(--transition-tf) var(--transition-d);
}

@media(hover: hover) {
  .header__links-item-link {
    &:hover {
      color: rgb(var(--color-primary));

      path {
        stroke: rgb(var(--color-primary));
      }
    }
  }
}

.header__burger {
  position: relative;
  display: none;
  width: 24px;
  height: 24px;
  padding: 0;
  background: transparent;
  border: none;
}

.header__burger-t-el,
.header__burger-b-el,
.header__burger-c-el {
  position: absolute;
  height: 2px;
  background: rgb(var(--color-dark-secondary));
  border-radius: 5px;
  animation-duration: 200ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.header__burger-t-el,
.header__burger-b-el,
.header__burger-c-el {
  left: 50%;
  width: 20px;
  translate: -50% 0%;
}

.header__burger-t-el {
  top: 20%;
}

.header__burger-b-el {
  bottom: 20%;
}

.header__burger-c-el {
  top: 50%;
  translate: -50% -50%;
}

.header__burger--cross {
  .header__burger-t-el {
    animation-name: t-to-cross;
  }

  .header__burger-b-el {
    animation-name: b-to-cross;
  }

  .header__burger-c-el {
    animation-name: c-to-cross;
  }
}

.header__burger--lines {
  .header__burger-t-el,
  .header__burger-b-el,
  .header__burger-c-el {
    animation-direction: reverse;
  }

  .header__burger-t-el {
    animation-name: t-to-lines;
  }

  .header__burger-b-el {
    animation-name: b-to-lines;
  }

  .header__burger-c-el {
    animation-name: c-to-lines;
  }
}

@media(max-width: $mobile) {
  .header {
    height: var(--header-height-mobile);
  }

  .header__logo-left {
    width: 100px;
  }

  .header__language-select {
    left: 140px;
  }

  .header__menu {
    position: absolute;
    top: var(--header-height-mobile);
    left: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    width: 100%;
    padding: 105px 0 0;
    height: calc(100dvh - var(--header-height-mobile));
    transition: var(--transition-tf) var(--transition-d);
    overflow-y: scroll;

    &--open {
      left: 0;
    }

    &--flex {
      display: flex;
    }
  }

  .header__navigation {
    margin: 0 15px 20px 0;
  }

  .header__navigation-list {
    flex-direction: column;
    align-items: center;
  }

  .header__navigation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__navigation-item-button {
    padding: 20px 30px;
    font-size: 20px;

    &::after {
      display: block;
    }

    &--active {
      + .header__links-area {
        display: block;
      }
    }
  }

  .header__links-area {
    position: static;
    z-index: auto;
    display: none;
    padding: 0 0 0 10px;
    margin: 0 0 20px;
    box-shadow: none;
    opacity: 1;
    transition-duration: 0ms;
  }

  .header__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__links-item:not(:last-child) {
    margin: 0 0 25px;
  }

  .header__links-item-link {
    font-weight: 500;
    text-align: center;
    color: rgb(var(--color-gray));

    svg {
      display: none;
    }
  }

  .header__logo-right {
    margin: 0;
  }

  .header__button-default {
    margin: 0 0 35px;
  }

  .header__burger {
    display: block;
  }
}

@keyframes c-to-cross {
  49% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes t-to-cross {
  0% {
    top: 20%;
    translate: -50% 0%;
  }

  49% {
    top: 50%;
    translate: -50% -50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
}

@keyframes b-to-cross {
  0% {
    bottom: 20%;
    translate: -50% 0%;
  }

  49% {
    bottom: 50%;
    translate: -50% 50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    bottom: 50%;
    translate: -50% 50%;
    rotate: -45deg;
  }
}

@keyframes c-to-lines {
  49% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes t-to-lines {
  0% {
    top: 20%;
    translate: -50% 0%;
  }

  49% {
    top: 50%;
    translate: -50% -50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
}

@keyframes b-to-lines {
  0% {
    bottom: 20%;
    translate: -50% 0%;
  }

  49% {
    bottom: 50%;
    translate: -50% 50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    bottom: 50%;
    translate: -50% 50%;
    rotate: -45deg;
  }
}
