*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  position: relative;
  min-width: 360px;
  margin: var(--header-height-desktop) 0 0;

  &--no-scroll {
    overflow: hidden;
  }
}

main {
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-default {
  display: inline-block;
  padding: 12px 16px;
  font-family: var(--font-primary);
  font-weight: 600;
  color: rgb(var(--color-light));
  text-align: center;
  text-decoration: none;
  background: rgb(var(--color-primary));
  border-radius: 16px;
  transition: var(--transition-tf) var(--transition-d);
}

@media(hover: hover) {
  .button-default:hover {
    background: rgb(var(--color-primary-hover));
  }
}

@media(hover: none) {
  .button-default:active {
    background: rgb(var(--color-primary-hover));
  }
}

.button-wide {
  display: block;
  max-width: 240px;
  padding: 30px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  color: rgb(var(--color-primary));
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 1px solid rgb(var(--color-primary));
  border-radius: 32px;
  transition: var(--transition-tf) var(--transition-d);
}

@media(hover: hover) {
  .button-wide:hover {
    color: rgb(var(--color-light));
    background: rgb(var(--color-primary-hover));
    border: 1px solid rgb(var(--color-primary-hover));
  }
}

@media(hover: none) {
  .button-wide:active {
    background: rgb(var(--color-primary-hover));
    border: 1px solid rgb(var(--color-primary-hover));
  }
}

@media(max-width: $mobile) {
  .body {
    margin: var(--header-height-mobile) 0 0;
  }
}
