$mobile: 950px;

:root {
  --mobile: 950px;

  --header-height-desktop: 100px;
  --header-height-mobile: 72px;

  --font-primary: 'gilroy';

  --color-primary: 157 9 124;           // #9d097c
  --color-primary-hover: 205 27 165;    // #cd1ba5
  --color-light: 255 255 255;           // #ffffff
  --color-dark-primary: 50 51 76;       // #32334c
  --color-dark-secondary: 28 28 30;     // 1c1c1e
  --color-gray: 119 120 147;            // 777893
  --color-blue: 198 217 221;            // c6d9dd

  --gradient: linear-gradient(260deg, #2d1178 25%, #db2d8f 78%);

  --transition-tf: ease;
  --transition-d: 200ms;

  --galery-gap-desktop: -13px;
  --galery-gap-mobile: -8px;
  --galery-gap-change: 10px;
  --galery-transition-d: 500ms;
}
